## Process data

### Read data

In [ ]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [ ]:
import final_project.utils.paths as path
import janitor
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns

In [ ]:
input_covid_file = path.data_raw_dir("time_series_covid19_confirmed_global.csv")

In [ ]:
covid_df = pd.read_csv(input_covid_file)
covid_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 280 entries, 0 to 279
Columns: 692 entries, Province/State to 12/9/21
dtypes: float64(2), int64(688), object(2)
memory usage: 1.5+ MB

In [ ]:
covid_df.head()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,11/30/21,12/1/21,12/2/21,12/3/21,12/4/21,12/5/21,12/6/21,12/7/21,12/8/21,12/9/21
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,157289,157359,157387,157412,157431,157445,157499,157508,157542,157585
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,199945,200173,200639,201045,201402,201730,201902,202295,202641,202863
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,210531,210723,210921,211112,211297,211469,211662,211859,212047,212224
3,NaN,Andorra,42.50630,1.521800,0,0,0,0,0,0,...,17115,17426,17658,18010,18010,18010,18631,18815,18815,19272
4,NaN,Angola,-11.20270,17.873900,0,0,0,0,0,0,...,65168,65183,65208,65223,65244,65259,65259,65301,65332,65346