In [ ]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [ ]:
import final_project.utils.paths as path
import janitor
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns

### Process data

In [ ]:
processed_df = (
    covid_df
    .select_columns(["Country/Region", "*/*/*"])
    .pivot_longer(
        index="Country/Region",
        names_to="date"
    )
    .transform_column("date", pd.to_datetime)
    .clean_names()
)

processed_df.head()

  country_region       date  value
0    Afghanistan 2020-01-22      0
1        Albania 2020-01-22      0
2        Algeria 2020-01-22      0
3        Andorra 2020-01-22      0
4         Angola 2020-01-22      0

### Save output data

In [ ]:
output_covid_file = path.data_processed_dir("time_series_covid19_confirmed_global_processed.csv")

In [ ]:
processed_df.to_csv(output_covid_file, index=False)